@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Walter+Turncoat&display=swap');

body {
    margin: 0;
    padding: 0;
}

.civilization-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100svw;
    background-color: #f7f7f7;
    padding: 20px;
    gap: 10px;
}

.civilization-section img {
    max-height: 20svh;
    max-width: 40svw;
    border-radius: 10px;
    margin: 0;
    align-self: flex-end;
    margin-right: 2em;

}

.civilization-section h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    text-align: center;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    align-self: flex-start;
}

.civilization-section .underline {
    border: #dcd6d6 1px solid;
}

.civilization-section .civilization-summary {
    display: flex;
}

P {
    color: black;
    font-size: 1.5em;
    padding: 1em;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

ul {
    padding-bottom: 2em;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style-type: none;
    padding-left: 2em;
    padding-right: 2em;

}

li {
    color: black;
    font-size: 1.5em;
    font-optical-sizing: auto;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
       "wdth" 100,
       "YTLC" 500;
    border: #b9afaf 1px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
}

.wikilink {
    display: flex;
    height: 60px;
    width: auto;
    justify-content: center;
}

.wikilink p {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3.5em;
    }

    p {
        font-size: 1.6em;
    }

    li {
        font-size: 1.2em;
    }

    .civilization-section .civilization-summary {
        flex-direction: column;
    }
    .civilization-section .civilization-summary img {
        align-self: center;
    }

}