/* DailyFact.css */
.daily-fact-container {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    font-family: "Arial", sans-serif;
    min-height: 250px; /* Ensure a proper height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Title Styling */
  .daily-fact-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Fact Text */
  .daily-fact-text {
    font-size: 18px;
    color: #555;
    padding: 10px;
  }
  
  /* Image Styling */
  .daily-fact-image {
    margin-top: 15px;
    width: auto;
    max-height: min-content;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .daily-fact-container {
      padding: 15px;
      min-height: 200px;
    }
  
    .daily-fact-heading {
      font-size: 20px;
    }
  
    .daily-fact-text {
      font-size: 16px;
    }
  
  
  }
  