@font-face {
    font-family: 'Porcelain';
    src: url('/Porcelain.ttf') format('truetype');
}

* {
    box-sizing: 0;
}

.header {
    width: 100svw;
    background-color: #f7f3f3;
    padding: 5px;
    display: flex;
    height: auto;
    align-items: flex-start;

}
.header h1 {
    font-family: 'Porcelain', sans-serif;
    font-weight: 200;
    text-align: left;
}

.header h3 { 
    font-family: Georgia, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: rgb(181, 53, 53);
    margin: 0;
    padding-left: 1.3em;
}

.header-text {
    padding-top: 1.2em;
}

.header img {
    width: 13%;
    rotate: -90deg;
}

.header .home {
    margin-left: auto;
    height: auto;
    width: auto;
}

.header .home svg {
    width: 40px;
    height: auto;
    margin-top: 40%;
    margin-right: 20px;
}

.header .home a {
    opacity: 75%;
}

.header .home a:hover {
    opacity: 100%;
    cursor: pointer;
}


@media (max-width: 768px) { 
    .header {
        flex-direction: row;
        padding-top: 3svh;
    }

    .header img {
        height: 80px;
        width: auto;
    }

    .header h1 {
        font-size: 2.4em;
    }

    .header h3 {
        font-size: 8px;
    }

    .header .home svg {
        width: 30px;
        height: auto;
     }
}