@font-face {
    font-family: 'Porcelain';
    src: url('./Porcelain.ttf') format('truetype');
}

* {
    box-sizing: 0;
}

.header {
    width: 100svw;
    background-color: #f7f3f3;
    padding: 5px;
    display: flex;
    height: auto;

}
.header h1 {
    font-family: 'Porcelain', sans-serif;
    font-weight: 200;
    text-align: left;
}

.header h3 { 
    font-family: Georgia, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: rgb(181, 53, 53);
    margin: 0;
    padding-left: 1.3em;
}

.header-text {
    padding-top: 1.2em;
}

.header img {
    width: 13%;
    rotate: -90deg;
}