@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Walter+Turncoat&display=swap');

#root {
  background-color: #ffffff;
  color: white;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: 100svw;
  border: #334355 1px solid;
  margin-bottom: 25px;
}

.header img {
  height: 5svh;
  width: 5svw;
}

.header h1 {
  font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
       "wdth" 100,
       "YTLC" 500;
}

.tile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff; /* Light background color */
  border: 1px solid #ddd; /* Optional border for the nav */
  border-radius: 8px; /* Rounded corners */
  margin: 0 auto;
  gap: 5px; /* Space between tiles */
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
       "wdth" 100,
       "YTLC" 500;
}


.tile-container .tile-content {
  text-align: center;
  padding: 15px;
  background-color: #bccfe4; /* tile color */
  color: rgb(27, 26, 15);
  border-radius: 8px; /* Rounded tiles */
  transition: transform 0.3s, background-color 0.3s;
  width: 120px;
}

.tile-content:hover {
  background-color: #4d647d; /* color  on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

nav .tile {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  font-weight: bold;
  font-size: 16px;
}

.active-link {
  font-weight: bold;
  color: rgb(0, 7, 82); /* Highlight color */
}

.era-title {
  font-size: 20px;
  color: #4d647d;
  text-align: left;
}

.era-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  nav ul {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Smaller tiles for smaller screens */
  }

  nav li {
    padding: 10px; /* Smaller padding on smaller screens */
  }
}
