@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Walter+Turncoat&display=swap');

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

* {
  box-sizing: border-box;
}


#root {
  background-color: #ffffff;
  color: white;
  padding: 0;
  margin: 0;
}


.tile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  margin: 0 auto;
  margin-bottom: 4svh;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
       "wdth" 100,
       "YTLC" 500;
}


.tile-container .tile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f3f3;
  color: rgb(27, 26, 15);
  border: rgb(212, 207, 207) solid 1px;
  border-radius: 5px; /* Rounded tiles */
  transition: transform 0.3s, background-color 0.3s;
  width: 10em;
  height: 5em;

}

.tile-content:hover {
  background-color: #d6e5f2; /* color  on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

nav .tile {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  font-weight: bold;
  font-size: 16px;
}

.active-link {
  font-weight: bold;
  color: rgb(0, 7, 82); /* Highlight color */
}


.era-title {
  font-size: 20px;
  color: #4d647d;
  text-align: left;
}

.era-container {  
  display: grid;
  gap: 10px;

}


/* Dropdown Menu Container */
.dropdown-menu {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  gap: 10px;
  background-color: #f7f3f3;
  color: black;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
}

.menu-button svg {
  width: 32px;
}

/* Dropdown Menu */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 100;
  min-width: 300px;
}

.dropdown-menu:hover .dropdown {
  display: block; /* Show the dropdown menu on hover */
}

/* Dropdown Items */
.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  color: black;

}

.dropdown-item:hover {
  background-color: white;
}

/* Submenu */
.sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; /* Align submenu to the right */
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 200;
  min-width: 200px;
  color: black;
}

.dropdown-item:hover .sub-menu {
  display: flex; /* Show submenu on hover */
  flex-direction: column;
  color: black;
}

/* Submenu Items */
.sub-menu-item {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
}

.sub-menu-item:hover {
  background-color: #ffffff;
}

.active-link {
  font-weight: bold;
  color: rgb(0, 7, 82);
}




  @media (max-width: 768px) {
    .header {
      flex-direction: column; /* Stack logo and text vertically */
    }
  
    .header-logo {
      max-height: 100px; /* Scale down for small screens */
      width: 80%; /* Adjust width within container */
    }
  
    .tile-container {
      padding: 10px;
      width: 100%;
    }

    .tile-container .tile-content {
      flex: 1 0 90%; /* Reduce width slightly on smaller screens */
      width: 100%; /* Full width on smaller screens */
      padding: 10px;
      font-size: 14px; /* Slightly smaller font */
    }

    .era-container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust columns for small screens */
    }

    .era-title {
      font-size: 16px;
    }

    footer {
      position: absolute;
      bottom: 0;
    }
  }