@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Walter+Turncoat&display=swap');

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

* {
  box-sizing: border-box;
}


#root {
  background-color: #ffffff;
  color: white;
  padding: 0;
  margin: 0;
}


.tile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  margin: 0 auto;
  margin-bottom: 4svh;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
       "wdth" 100,
       "YTLC" 500;
}


.tile-container .tile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f3f3;
  color: rgb(27, 26, 15);
  border: rgb(212, 207, 207) solid 1px;
  border-radius: 5px; /* Rounded tiles */
  transition: transform 0.3s, background-color 0.3s;
  width: 10em;
  height: 5em;

}

.tile-content:hover {
  background-color: #d6e5f2; /* color  on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

nav .tile {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  font-weight: bold;
  font-size: 16px;
}

.active-link {
  font-weight: bold;
  color: rgb(0, 7, 82); /* Highlight color */
}

.era-title {
  font-size: 20px;
  color: #4d647d;
  text-align: left;
}

.era-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  gap: 10px;

}


  @media (max-width: 768px) {
    .header {
      flex-direction: column; /* Stack logo and text vertically */
    }
  
    .header-logo {
      max-height: 100px; /* Scale down for small screens */
      width: 80%; /* Adjust width within container */
    }
  
    .tile-container {
      padding: 10px;
      width: 100%;
    }

    .tile-container .tile-content {
      flex: 1 0 90%; /* Reduce width slightly on smaller screens */
      width: 100%; /* Full width on smaller screens */
      padding: 10px;
      font-size: 14px; /* Slightly smaller font */
    }

    .era-container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust columns for small screens */
    }

    .era-title {
      font-size: 16px;
    }

    footer {
      position: absolute;
      bottom: 0;
    }
  }